@charset "utf-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background-color: #202124;
	color: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 4em;
	text-align: center
}

#header{background:#202124;line-height:25px; height: 80px; box-shadow: 0 2px 4px rgba(0,0,0,.5); font-size: 30px;}
#header-zglv{position:absolute; top: 25px; left: 50px;}
#header-log{position:absolute; top: 22px; right: 20px;}
#login-btn {
    font-size: 1.3rem;
    line-height: inherit;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    outline: 0;
}

#login-btn:hover {
    background-color: #26bdaf
}

h2 {
	font-size: 30px;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- LOGIN ---------- */

form {
	width: 312px;
	position: relative;
	left: 19px;
}

#login {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
	margin: 150px auto;
	width: 350px;
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
	outline:none;
}

#login form input[type="email"], input[type="password"], input[type="text"], input[type="login"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 230px;
}

#login form input:focus {
	color:#fff;
}

#login form input[type="submit"] {
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: #eee;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
	font-size: 15px;
	background-color: #d44179;
	font-weight: bold;
	margin-bottom: 2em;
	width: 312px;
}

#login form input[type="submit"]:hover {
	background-color: #ea4c88;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}

/*a{color:#e96656;}
a:visited{color:#507299;}
a:hover,
a:focus,
a:active{color:#532897;}
a.tent{color: #279324;}
a.tent:hover{color: #831438}*/
a.home{color: #000}
/*a.home:hover{color: #f82241}*/

a.home {
    line-height: 1;
    display: inline-block;
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}

a.home:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #fff;
    transition: width .3s ease-in-out;
}

a.home:hover:after,
a.home:focus:after {
    width: 100%;
}