html{overflow-y:scroll;font-size:62.5%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
.bypostauthor{}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td{margin:0;padding:0;border:0;outline:0;font-family:inherit;font-weight:inherit;font-style:inherit;vertical-align:baseline;text-decoration:none;}
*,
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{background:#edeef0;}
body{overflow-x:hidden;color:#808080;font-family:"Lato", Helvetica, sans-serif !important;font-size:14px;font-weight:normal;line-height:25px;text-align:center;}
body,
textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1.6rem;line-height:1.5;}
h1,
h2,
h3,
h4,
h5,
h6{clear:both;}
p{margin-bottom:1.5em;}
h1,
h2,
h3,
h4,
h5,
h6{display:block;clear:both;margin:0;margin-bottom:10px;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;}
h1,
h2{font-family:"Montserrat", Helvetica, sans-serif;font-weight:700;line-height:35px;}
h1{font-size:30px;}
h2{font-size:26px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:17px;}
h6{font-size:16px;}

/*a{color:#e96656;}
a:visited{color:#507299;}
a:hover,
a:focus,
a:active{color:#532897;}
a.tent{color: #279324;}
a.tent:hover{color: #831438}*/
a.home{color: #000}
/*a.home:hover{color: #f82241}*/

a.home {
    line-height: 1;
    display: inline-block;
    color:#000;
    text-decoration:none;
    cursor: pointer;
}

a.home:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #000;
    transition: width .3s ease-in-out;
}

a.home:hover:after,
a.home:focus:after {
    width: 100%;
}

#header{background:#fff;line-height:25px; height: 80px; box-shadow: 0 2px 4px rgba(0, 0, 0, .4)}
#header-zglv{position:absolute; top: 20px; left: 50px;}
#header-log{position:absolute; top: 22px; right: 20px;}
#login-btn {
    font-size: 1.3rem;
    line-height: inherit;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    outline: 0;
}

#login-btn:hover {
    background-color: #26bdaf
}

#footer{background:#272727;line-height:20px; height: 75px; position: fixed; left: 0; bottom: 0; width: 100%}
#line{width: 90%; border-top: 1px solid #464646; position:relative; left: 5%; top: 110px}
#copy{position:relative; top: 30px; width: 100%; color: #fff; height: 10px;}
#cont{position:relative; top: 30px; width: 50%; float: left}
#cont2{position:relative; top: 30px; width: 50%; float: right;}
.content{text-align: center; margin:100px auto; background: #ffb28b; width: 400px; color: #4a192c}
.copyright{padding-top:68px;padding-bottom:68px;background:#171717;}
.copyright p{margin-bottom:0;color:#939393;}


.label-primary{background-color:#428bca}

.material-switch {
    position: relative;
    left: 60px;
    top: 48px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.DarkTheme {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 22px;
    width: 50%;
    text-align: center;
}