<?php
    //Запускаем сессию
    session_start();
?>

<!DOCTYPE html>

<html>
    <head>
        {% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'mobile.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'mnmobile.css' %}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Промышленное программирование</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
            $(window).load(function(){
                $("[data-toggle]").click(function() {
                  var toggle_el = $(this).data("toggle");
                  $(toggle_el).toggleClass("open-sidebar");
                });
                $(".swipe-area").swipe({
                    swipeStatus:function(event, phase, direction, distance, duration, fingers)
                        {
                            if (phase=="move" && direction =="right") {
                                $(".container").addClass("open-sidebar");
        					    $(".swipe-area").addClass("open-sidebar");
                                return false;
                            }
                            if (phase=="move" && direction =="left") {
                                $(".container").removeClass("open-sidebar");
        		   			    $(".swipe-area").removeClass("open-sidebar");
                                return false;
                        }
                    }
                });
            });

        </script>
    	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>
	</head>
    <body>
		<div class="container">
            <div id="sidebar">
            <ul>
                <li><a href="/mobile/">Главная</a></li>
                <li><a href="#">Калькулятор</a></li>
                <li><a href="#">Калькулятор 36+42</a></li>
                <li><a href="#">Выражение</a></li>
			    <li><a href="#">История</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="swipe-area"></div>
        </div>
        <div id="header">
    		<h1>Промышленное программирование</h1>
    		<a href="#">Тут пусто, кек</a>
    	</div>