<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'auth.css' %}" />
    </head>
    <body>
        <div id="header">
    	    	<div id="header-zglv">
    				<h1><a href="/" class="home">Промышленное программирование</a></h1>
    			</div>
    			<div id="header-log">
    				<a id="login-btn" href="/">GO FUCKING BACK</a>
    	        </div>
    	</div>
        <div id="login">
            <h2>Вход в аккаунт</h2>
            <form method="post" name="form_auth">
                <fieldset class="clearfix">
                    {% csrf_token %}
                    <p><span class="fontawesome-user"></span><input type="text" name="username" autofocus="" required="" id="id_username" value="Логин" onBlur="if(this.value == '') this.value = 'Логин'" onFocus="if(this.value == 'Логин') this.value = ''" required></p>
                    <p><span class="fontawesome-lock"></span><input type="password" name="password" required="" id="id_password" placeholder="минимум 6 символов" onBlur="if(this.value == '') this.value = 'Пароль'" onFocus="if(this.value == 'Пароль') this.value = ''" required></p>
                    <p><input type="submit" name="btn_submit_auth" value="Войти"></p>
                </fieldset>
                Нет аккаунта? &nbsp;&nbsp;<a href="/register/" class="home">Регистрация</a>
            </form>
        </div>
    </body>
</html>