<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        {% block scripts %}{% endblock %}
        {% include 'scripts.html' %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" id='LoL'/>
        <link rel="stylesheet" type="text/css" href="{% static 'mn.css' %}" id='KeK'>
        {% block more_style %}{% endblock %}
    </head>
    {% include 'header.html' %}
    <body>
        {% block content %}{% endblock %}
    </body>
    {% include 'footer.html' %}
</html>