<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
		<title>Регистрация</title>
		{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'auth.css' %}" />
    </head>
    <body>
        <div id="header">
    	    	<div id="header-zglv">
    				<h1><a href="/" class="home">Промышленное программирование</a></h1>
    			</div>
    			<div id="header-log">
    				<a id="login-btn" href="/">GO FUCKING BACK</a>
    	        </div>
    	</div>
        <div id="login">
            <h2>Форма регистрации</h2>
            <form method="post" name="form_register">
    			<fieldset class="clearfix">
    			    {% csrf_token %}
    				<p><span class="fontawesome-user"></span><input type="text" name="username" autofocus="" required="" id="id_username" value="Логин" onblur="if(this.value == '') this.value = 'Логин'" onfocus="if(this.value == 'Логин') this.value = ''"></p>
    				<p><span class="fontawesome-user"></span><input type="text" name="Email" autofocus="" required="" id="id_username" value="Email" onblur="if(this.value == '') this.value = 'Email'" onfocus="if(this.value == 'Email') this.value = ''"></p>
                    <p><span class="fontawesome-lock"></span><input type="password" name="password" required="" id="id_password" placeholder="минимум 6 символов" onblur="if(this.value == '') this.value = 'Пароль'" onfocus="if(this.value == 'Пароль') this.value = ''"><br></p>
                    <p><input type="submit" name="btn_submit_register" value="Зарегистрироватся!"></p>
                </fieldset>
            </form>
        </div>
    </body>
</html>