{% include 'mn.html' %}
<div id="header">
    	<div id="header-zglv">
			<h1><a href="/" class="home">Промышленное программирование</a></h1>
		</div>
		<div id="header-log">
		    {% for item in login %}
			    <a id="login-btn" href="{{ item.link }}">{{ item.text }}</a>
			{% endfor %}
		</div>
</div>