{% extends 'base.html' %}
{% block title %}
<title>История</title>
{% endblock %}
{% block content %}
<table border="2" cellspacing="5" cellpadding="5" bordercolor="blue">
    <tr>
        <td>Дата и время</td>
        <td>Выражение</td>
        <td>Результат</td>
    </tr>
    {% for item in history %}
    <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.expression }}</td>
        <td>{{ item.result }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}