{% extends 'base.html' %}
{% block content %}
<div class="content">
    <p>Занятие №12</p>
    <p>Тема: "Знакомство с Django"</p>
    <p>Сегодня {{ date.day }}.{{ date.month }}.{{ date.year }}</p>
</div>
{% endblock %}