<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav">
	<label for="nav-toggle" class="nav-toggle" onclick></label>
	<h2 class="logo">
		<a href="//kmen.pythonanywhere.com/">DJANGO</a>
	</h2>
	<ul>
	    <li>{% include 'menu.html' %}</li>
	    <!--<li><div class="material-switch pull-right">
                <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" onclick="DarkTheme()" />
                <label for="someSwitchOptionPrimary" class="label-primary"></label>
            </div>
            <div class="DarkTheme">
                <p>Темная тема</p>
            </div>
        </li>-->
	</ul>
</nav>