{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h1>А ну-ка попробуйте отгадать загадку ниже:</h1>
    <p>Что это такое: синий, большой, с усами и полностью набит зайцами?</p>
    <a href="../answer"><s>Ответ</s></a>
</div>
{% endblock %}